:root{
  --primary-color: rgb(93, 135, 255);
  --secondary-color: rgb(73, 190, 255);
  --card-bg-color: #338EE2;
  --color: rgb(211, 237, 242);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f2f2;
}

